.feedItem {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
  border-top: 1px solid var(--feed-item-border);
}

.newsContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid var(--news-container-border);
  border-radius: 8px;
  padding: 15px;
  background-color: var(--news-container-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.date {
  font-size: 14px;
  color: #888;
}

.description {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--news-container-description)
}

.image {
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
  justify-content: center;
}

.toggleButton {
  margin-left: 5px;
  background: none;
  border: none;
  color: var(--news-container-toggle-button);
  cursor: pointer;
  font-size: 14px;
}

.toggleButton:hover {
  text-decoration: underline;
}

.readMore {
  display: flex;
  flex-direction: row;
  align-self: last baseline;
  justify-content: center;
  width: 20%;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.readMore:hover {
  background-color: var(--button-hover-bg);
}